<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoceriaAngelCake.My.MySettings.dbestoqueConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\dbestoque.mdb"
            providerName="System.Data.OleDb" />
        <add name="DoceriaAngelCake.My.MySettings.estoquedbConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\estoquedb.mdb"
            providerName="System.Data.OleDb" />
        <add name="DoceriaAngelCake.My.MySettings.estoquebaseConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\estoquebase.mdb"
            providerName="System.Data.OleDb" />
        <add name="DoceriaAngelCake.My.MySettings.estoquebancodedadosConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\estoquebancodedados.mdb"
            providerName="System.Data.OleDb" />
        <add name="DoceriaAngelCake.My.MySettings.bancodedadosConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bancodedados.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>